header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 70px;
  }

  .header_nav ul {
    display: flex;
    list-style: none;

    a {
      color: black;
      text-decoration: none;
      display: block;
      padding: 2.5rem .85rem;
      text-transform: uppercase;
      letter-spacing: .45px;
      font-weight: bold;

      &.active {
        border-bottom: 5px $main_color solid;
        color: $main_color;
      }

      &:hover {
        border-bottom: 5px $main_color solid;
      }
    }
  }  
}
